.order {
  background: url(../img/background/form-bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden; }

.order__title {
  font-family: "Gagalinregular";
  color: #f9b43b;
  padding-top: 130px;
  margin-bottom: 45px; }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block--title {
  font-family: 'ubuntulight';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px; }

.form__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 10px; }
  .form__block:first-child {
    margin-left: 10px; }

.form__input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none; }
  .form__input:hover {
    border: 3px solid #f9b43b; }

.form__payment {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.form__comment {
  height: 110px;
  width: 100%; }

.form__radio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.radio__label {
  position: relative;
  padding-right: 142px; }

.radio__input {
  position: absolute;
  top: -100%;
  left: 69%; }

.radio__circle {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  margin: 11px 0 0 9px; }

.radio__point {
  position: absolute;
  top: 6px;
  left: 6px; }

.radio__text {
  text-align: center;
  font-family: 'ubuntulight';
  font-size: 14px;
  color: #ffffff;
  margin-left: 27px; }

.radio__input:checked + .radio__circle .radio__point {
  height: 8px;
  border-radius: 50%;
  background-color: #e45028;
  width: 8px; }

.form__chexbox {
  position: relative;
  margin-bottom: 42px; }

.form__check {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  position: absolute;
  left: 8px;
  top: 8px; }

.check__img {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 2;
  display: none; }

.check__text {
  font-family: 'ubuntulight';
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  left: 33px;
  top: 6px; }

.form__checked--item {
  position: absolute;
  top: 70%;
  left: 70%; }

.form__checked--item:checked + .check__img {
  display: block; }

.form__btn {
  background-color: #e45028;
  font-family: 'ubuntulight';
  font-size: 14px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer; }

.form__btn--reset {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-transform: capitalize;
  font-family: 'ubuntulight';
  font-size: 14px;
  color: #ffffff;
  cursor: pointer; }

/*# sourceMappingURL=forms.css.map */