.team { background: url(../img/background/SBS_1255-X2.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; }

.team__descript { position: absolute; width: 50%; height: 100vh; right: 0; background-color: #2f3234; opacity: 0.7; }

.team__title { font-family: 'gagalinregular'; color: #f9b43b; position: absolute; top: rem(107px); right: rem(147px); }

.accordeon__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; top: 0; bottom: o; right: 0; margin-top: rem(205px); width: 100%; }

.accordeon__item { height: rem(30px); padding: rem(10px) 0 rem(10px) rem(5px); margin-bottom: rem(20px); overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-left: rem(96px); -webkit-transition: all 2s; transition: all 2s; }
.accordeon__item:active { height: rem(155px); }

.accordeon__item:active .accordeon__triangle { display: block; border: rem(5px) solid transparent; border-bottom: rem(5px) solid #f9b43b; width: 0; height: 0; margin-top: rem(3px); }

.accordeon__item:active .accordeon__title { color: #f9b43b; }

.accordeon__name { display: -webkit-box; display: -ms-flexbox; display: flex; }

.accordeon__triangle { display: block; border: rem(5px) solid transparent; border-top: rem(5px) solid #f9b43b; width: 0; height: 0; margin-top: rem(9px); margin-left: rem(9px); }

.accordeon__title { font-size: rem(14px); color: #ffffff; font-family: 'gagalinregular'; margin-bottom: rem(15px); margin-left: rem(9px); }

.accordeon__desc { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: rem(25px); }

.accordeon__photo { width: rem(100px); height: rem(100px); border-radius: 50%; margin-right: rem(4px); overflow: hidden; }

.accordeon__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: rem(230px); padding-left: rem(13px); }

.accordeon__prof { font-size: rem(14px); color: #ffffff; font-family: 'ubuntubold'; margin-bottom: rem(10px); }

.accordeon__text p { font-size: rem(14px); color: #ffffff; font-family: 'ubuntulight'; line-height: rem(24px); }
