html{
  font-size: 16px;

  @media (max-width: $tablets) {
    font-size: 14px;
  }
  @media (max-width: $phones){
    font-size: 13px;
  }
}

html,
body{
  width: 100vw;
  height: 100vh;
}
body {
  font-size: 16px;
  line-height: 1.42;
  background-color: black;
  position: relative;
}
.conteiner {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 960xp;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
.section__wrapper{
  max-width: 1100px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.btn{
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
}
